:root {
  --off-white: #fafafa;
}

.section-dark {
  background: #333;
  color: white;
}

.section-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  flex-direction: row;
}

.about-me-logo {
  display: inline-block;
  height: 60px;
  width: 60px;
}

.toggle {
  display: none;
  padding: 8px;
  font-size: 16px;
}

.social-media-icons {
  display: flex;
  justify-content: center;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact-element {
  display: flex;
  justify-content: center;
}

.pictures-in-carousel {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@media screen and (max-width: 600px) {
  .toggle {
    display: block;
  }
}

/*About me component*/

.photo-with-about-me-text {
  display: flex;
  flex-direction: row;
}

.my-photo {
  display: block;
  margin-left: auto;
  margin-right: 10px;
}

.hi-text {
  font-size: 50px;
  color: lightblue;
  text-shadow: 2px 2px 8px blue;
}

.about-me-text {
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px 8px slategray;
}

.grow-elements {
  display: flex;
  justify-content: space-evenly;
}

.grow-info-wstepne {
  display: flex;
  justify-content: center;
}

.AboutMe {
  background-image: url("Images/background.png");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 10%;
}