:root {
  --off-white: #fafafa;
}
.nav {
  background-color: var(--off-white);
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.pictures-in-carousel {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.my-photo {
  display: block;
  margin-left: auto;
  margin-right: 10px;
  float: right;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-items {
  display: flex;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: #333;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}

.section {
}

.section-dark {
  background: #333;
  color: white;
}

.section-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  flex-direction: row;
}

.about-me-logo {
  display: inline-block;
  height: 60px;
  width: 60px;
}

.toggle {
  display: none;
  padding: 8px;
  font-size: 16px;
}

.social-media-icons {
  display: flex;
  justify-content: center;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact-element {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .nav {
    height: auto; /* overrides the height of 80px set for large screens */
    background-color: white;
  }
  .nav-content {
    flex-direction: column;
  }

  .nav-items.closed {
    /* when toggled, hide the main nav*/
    display: none;
  }

  .nav-items.opened {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle {
    display: block;
  }
}

